.acta1 {
  height: 100%;
  width: 100%;
  background-image: url("../img/back2.png");
  position: absolute;
  background-position: repeat;
}
.act {
  margin-top: 60px;
  height: 100%;
  width: 100%;
}
.main-list {
  margin-left: 160px;
  display: flex;
  list-style: none;
}
#head {
  margin-top: 50px;
  font-size: 40px;
  font-weight: bolder;
  color: black;
}

@media only screen and (max-width: 768px) {
  .main-list {
    margin-left: 1px;
    display: block;
    list-style: none;
  }
  #head {
    margin-top: 50px;
    font-size: 35px;
    font-weight: bolder;
    color: #7dc059;
  }
}
