.act {
  margin-top: 60px;
  height: 100%;
  width: 100%;
}
.main-list {
  margin-left: 120px;
  display: flex;
  list-style: none;
}
#head {
  margin-top: 50px;
  font-size: 40px;
  font-weight: bolder;
  color: #7dc059;
}
