.act {
  height: 100%;
  width: 100%;
  background: white;
  min-height: 500px;
  position: absolute;
}
h1 {
  font-family: "Coolvetica";
  padding-top: 30px;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
