.menu {
  position: relative;
  height: 8vh;
  background: #7dc059;
  width: 4vw;
  border-radius: 50px;
  transition: 1s;
}

.menu:hover {
  width: 5vw;
  height: 55vh;
  border-radius: 0px;
}
.menu:hover i {
  visibility: hidden;
}
@media (max-width: 600px) {
  .menu {
    position: relative;
    height: 5vh;
    background: #7dc059;
    width: 10vw;
    border-radius: 25px;
    transition: 1s;
  }
  .menu:hover {
    height: 55vh;
    bottom: 25%;
  }
}

.menu:hover ~ .container {
  transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1.2);
}

.menu:hover nav {
  left: 5%;
  bottom: 30%;
}

.container {
  width: 90%;
  margin-left: 10vw;
  background: #fdfdfd;
  transition: 1s;
  transform-origin: left center;
  color: #d2d2d0;
}

.container .content {
  padding: 100px 20%;
}

nav {
  position: absolute;
  margin-top: 50%;
  left: -1000px;
  transition: 0.5s;
}

nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
}

nav li {
  line-height: 2em;
  letter-spacing: 0.3em;
}

nav a {
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

nav a:hover {
  color: #020404;
}

p {
  line-height: 1.5em;
}

h1 {
  color: #bbb;
}
