* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../src/components/fonts/helvetica-neu.ttf") format("ttf");
}
@font-face {
  font-family: "La Belle Aurore";
  src: url("../src/components/fonts/LaBelleAurore.woff2") format("woff2");
}
@font-face {
  font-family: "Coolvetica";
  src: url("../src/components/fonts/CoolveticaRg-Regular.woff2") format("woff2");
}
